<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab2.Properties.Settings.UniversityDB_Dormanchuk_dataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\UniversityDB_Dormanchuk_data.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Lab2.Properties.Settings.UniversityDB_Dormanchuk"
            connectionString="Data Source=127.0.0.1;Initial Catalog=UniversityDB_Dormanchuk;User ID=sa;Password=94Aguher;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>